<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server With Rooms</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Welcome!</h1>
    <h2>Connect with your friends quickly and easily.</h2>
    <main id="WelcomeScreen">
        <h3>Let's Start!</h3>
        <form action="/rooms" id="nameForm">
            <label for="nameForm">Username:
                <input type="text" value="" placeholder="username" name="username" id="username-text" required>
            </label>
            <input type="button" value="Find Rooms or Create Them" onclick="getRooms();">
        </form>
    </main>
    <script src="viewIndex.js"></script>
</body>

</html>