/*General ------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0 2vw;
    background-image: linear-gradient(rgb(121, 212, 208), rgb(76, 192, 207), rgb(240, 217, 175));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    font-family: math, Georgia;
}

/*Home Page ----------------------------------------------*/
#WelcomeScreen {

    background-color: rgb(80, 80, 230);
    border-radius: 5px;
    padding: 2vh 2vw;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 3vh;
}


form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/*Room Icon ----------------------------------------------*/

#page-2 {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 2vh 2vw;
}

#findRoomText {
    text-align: left;
    width: 60vw;
    border-bottom: thin rgb(32, 15, 92) solid;
    padding-bottom: 2vh;
}

#RoomPicker {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    padding: 3vh 3vw;
}

.roomIcon {
    margin: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;

    gap: 1vh;
    transition: transform 500ms;
    background-color: rgb(80, 80, 230);
    border-radius: 5px;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    height: 15vh;
    width: 15vw;
}

.roomNumber {
    background-image: linear-gradient(90deg, rgb(142, 177, 241), rgb(87, 146, 255), rgb(142, 177, 241));
    width: 100%;
    height: auto;
    padding: 0.5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roomNumber~div {
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roomIcon:hover {
    transform: scale(1.1);
}

/* Add Button --------------------------------------------*/

#newRoom {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    font-size: 2em;
    border-radius: 5px;
    padding: 1.5vh 1.5vw;
    background-color: rgb(87, 146, 255);
    transition: background-color 500ms;
}

#newRoom:hover {
    background-color: rgb(152, 188, 255);
}

/*New Room Form ------------------------------------------*/

#createRoomForm {
    padding: 1vh 1vw;
    background-color: rgb(155, 223, 255);
    border-radius: 3px;
    position: absolute;
    bottom: 1vh;
    animation: roomFormAnim 500ms forwards;
}

#createRoomForm input:not(input[type="button"]) {
    width: 100%;
}

@keyframes roomFormAnim {
    0% {
        margin-bottom: -10vh;
    }

    100% {
        margin-bottom: 0;
    }

}